* {
  /* outline: 1px dotted black; */
}

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
}

/* Record SVG */
.recordSVG {
  width: 250px;
}

.recordGrooves {
  fill: #323232;
}

.recordLabel {
  fill: #ff6;
}

.recordBase {
  fill: #000;
}

.recordText {
  fill: #000;
}

/* Bunny Cover */
.bunnyBG {
  fill: #ff6;
}
/* Bunny Outline and Master */
.bunnyCover {
  fill: #000;
  width: 250px;
}
