* {
  /* outline: 1px dotted black; */
}

/* Doodle Stage */
#stage {
  background: #f7f7f7;
  height: 100vh;
  width: 100vw;
}

/* Record SVG */
.recordSVG{
  width: 280px;
  /* display: none; */
  position: absolute;
  top: -40px;
  left: -55px;
}

.recordGrooves {
  fill: #323232;
}

.recordLabel0 {
  fill: #ff6;
}

.recordLabel1 {
  fill: #f9f;
}

.recordLabel2 {
  fill: #9f9;
}

.recordLabel3 {
  fill: #3ff;
}

.recordBase {
  fill: #000;
}

.recordText {
  fill: #000;
}

/* Bunny Cover */
.bunnyCover0 g path.bunnyBG {
  fill: #ff6;
}

.bunnyCover1 g path.bunnyBG {
  fill: #f9f;
}

.bunnyCover2 g path.bunnyBG {
  fill: #9f9;
}

.bunnyCover3 g path.bunnyBG {
  fill: #3ff;
}

/* Bunny Outline and Master */
.bunnyCover0,
.bunnyCover1,
.bunnyCover2,
.bunnyCover3 {
  fill: #000;
  width: 200px;
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
}

/* DuckDuckGo */
.ddg {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ddg h1 {
  font-weight: 100;
  margin-top: 1.5em;
}

.ddgLogo {
  width: 200px;
  opacity: 0;
  transition: opacity .25s;
  z-index: 1;
  position: relative;
}

.ddgLogoContainer {
  position: relative;
  top: 50px;
  left: 50px;
}

.ddgLogoContainer:hover .ddgLogo {
  opacity: 100;
}













