* {
  /* outline: 1px dotted black; */
}

/* Doodle Stage */
#stage {
  background: #f7f7f7;
  height: 100vh;
  width: 100vw;
}

/* Record SVG */
.recordSVG{
  width: 280px;
  /* display: none; */
  position: absolute;
  top: -40px;
  left: -55px;
}

.recordGrooves {
  fill: #323232;
}

.recordLabel {
  fill: #ff6;
}

.recordBase {
  fill: #000;
}

.recordText {
  fill: #000;
}

/* Bunny Cover */
.bunnyBG {
  fill: #ff6;
}
/* Bunny Outline and Master */
.bunnyCover {
  fill: #000;
  width: 200px;
  /* display: none; */
  position: absolute;
  top: 0;
}

/* DuckDuckGo */
.ddg {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ddg h1 {
  font-weight: 100;
}

.ddgLogo {
  width: 200px;
  transition: opacity .25s;
}

/* .ddg svg {
  width: 50px;
  min-width: 50px;
  fill: #000;
  padding: 1em;
} */

.ddgLogoContainer {
  position: relative;
}

.ddgLogoContainer:hover .ddgLogo {
  opacity: 0;
}

.ddgLogoContainer:hover .recordBase{
  fill: none;
}




